/*通用样式 tui*/
/*--------------------------------------------------------------*/
/*左浮动*/
.tui-left{float: left;}
/*右浮动*/
.tui-right{float: right}
/*鼠标移上去变小手*/
.tui-cursor{cursor:pointer;}
/*宽高百百分百*/
.tui-wh100{width: 100%;height: 100%;}
/*居中*/
.tui-center{text-align: center;}
/* 设置为 */
.tui-inline-block{display: inline-block}
/*背景为浅绿色*/
.tui-bgw-tiffany{background: #23C6C8;}
/*字白色*/
.tui-color-white{color: white;}

/*性别样式*/
.tui-sex-color-man{color: #3a8ee6}
.tui-sex-color-woman{color: #d4237a}
/*状态样式*/
.tui-status-1{background: #74e24a;color: white;border-radius: 20px;}
.tui-status-0{background: #ff4949;color: white;border-radius: 20px;}
/*菜单类型*/
.tui-menu-0{background: #608af3;color: white}
.tui-menu-1{background: #15c1a7;color: white}
.tui-menu-2{background: #85ce61;color: white}
.tui-menu-3{background: #e7b152;color: white}
/*操作类型*/
.tui-opertype-0{background: #608af3;color: white;border-radius: 20px;}
.tui-opertype-1{background: #f6ea84;color: white;border-radius: 20px;}
.tui-opertype-2{background: #608af3;color: white;border-radius: 20px;}
.tui-opertype-3{background: #36e398;color: white;border-radius: 20px;}
.tui-opertype-4{background: #e71c44;color: white;border-radius: 20px;}
.tui-opertype-5{background: #608af3;color: white;border-radius: 20px;}
.tui-opertype-6{background: #608af3;color: white;border-radius: 20px;}
.tui-opertype-7{background: #e8ad54;color: white;border-radius: 20px;}
.tui-opertype-8{background: #41e749;color: white;border-radius: 20px;}
.tui-opertype-9{background: #e71c44;color: white;border-radius: 20px;}
.tui-opertype-10{background: #e71c44;color: white;border-radius: 20px;}