/*通用样式 tui*/
/*--------------------------------------------------------------*/
/*左浮动*/
.tui-left{float: left;}
/*右浮动*/
.tui-right{float: right}
/*鼠标移上去变小手*/
.tui-cursor{cursor:pointer;}
/*宽高百百分百*/
.tui-wh100{width: 100%;height: 100%;}
/*居中*/
.tui-center{text-align: center;}
